body{
  display: grid;
  justify-content: center;
  justify-items: center
}


.container{
  border: 30px solid pink ;
  width: 600px;
  height: 600px;
  /* display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr); */
}
